/* Body styling */
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/* Flex container styling */
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Image styling */
.container img {
	width: 600px;
	height: 700px;
}

/* Form container styling */
.form-container {
	flex: 1;
	text-align: center;
	margin: 30px;
}

/* Heading styling */
h1 {
	font-size: 36px;
	margin-bottom: 10px;
}

/* Register your data */
p {
	margin-top: 20px;
}

/* Input field styling */
input {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
}

/* Button styling */
button {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #6F5643;
	color: white;
	font-size: 16px;
	margin-bottom: 20px;
	cursor: pointer;
}

/* Button hover effect */
button:hover {
	background-color: #6F5643;
}

/* Link styling */
a {
	color: #6F5643;
	text-decoration: none;
}

/* Link hover effect */
a:hover {
	text-decoration: underline;
}
