/* CSS untuk halaman upload */
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
  }
  
  nav {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  nav a {
    text-decoration: none;
  }
  
  nav button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 50px;
    border: none;
    background: none;
    box-shadow: none;
  }
  
  nav button:hover {
    background-color: #ddd;
  }
  
  nav button:active {
    transform: translateY(1px);
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 10px;
  }
  /* CSS untuk button my account dan upload */
  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #6f5643;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  button:hover {
    background-color: #5d4837;
  }
  
  form {
    margin-top: 50px;
    text-align: center;
  }
  
  label {
    font-size: 10px;
    margin-right: 20px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  button[type="button"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
    color: #1d137b;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  button[type="button"]:hover {
    background-color: #ddd;
  }
  
  button[type="button"]:active {
    transform: translateY(1px);
  }
  
  @media screen and (max-width: 600px) {
    nav {
      flex-direction: column;
      margin-left: 0;
    }
  
    nav button {
      margin-top: 10px;
      margin-left: 0;
    }
  
    input[type="text"] {
      width: 100px;
      margin-left: 10px;
    }
  
  
  }
  