<div class="container-main">
    <div class="left">
        <div class="dot">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="caption">
          <h3>
            “Learning is the only thing the mind never exhausts, never fears, and never regrets.” – Leonardo da Vinci.
          </h3>
        </div>
        <div class="btn">
          <a href="" class="btn-main">Upload your Form Here</a>
        </div>
    </div>
    <div class="right">
        <div class="circle">
          <img class="main-pic" src="./img/main-pic.jpg" alt="">
        </div>
    </div>
</div>