<div class="container-make-form">
  <form class="form-upload"action="/upload-doc" method="post" enctype="multipart/form-data">
    <h3 class="mb-4 page-title">Upload</h3>
    <div class="row mb-3">
      <div class="file-drop">
        <input type="file" name="filename" id="file-input" multiple>
        <label for="file-input" class="file-label">
          <span><i class="bi bi-cloud-arrow-up"></i></span>
          <span>Drag & Drop Files or Browse</span>
          <span>Supported formates: JPEG, PNG, PDF, Word, PPT</span>
        </label>
      </div>
    </div>
    <!-- <div class="row mb-3">
      <label for="name" class="form-label">Title</label>
      <input type="text" class="form-control input" id="name" name="name" required>
    </div>
    <div class="row mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control input" id="description" name="description" rows="3" required></textarea>
    </div> -->
    <button type="submit" class="btn-submit">Upload File</button>
  </form>
</div>