<div class="container-recent">
  <div class="top">
      <div class="profil-pic">
        <img src="./img/akun.jpg" alt="profil picture" >
      </div>
      <div class="name-email">
          <span class="name">Niki Yulia Nada</span>
          <span class="email">nikiyulianada@gmail.com</span>
      </div>
  </div>
  <div class="custom-table">
    <table class="table" >
      <thead >
        <tr>
          <th>Date</th>
          <th>File Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>2023-05-01</td>
          <td>file1.txt</td>
          <td>Uploaded</td>
        </tr>
        <tr>
          <td>2023-05-02</td>
          <td>file2.txt</td>
          <td>Uploaded</td>
        </tr>
        <tr>
          <td>2023-05-02</td>
          <td>file2.txt</td>
          <td>Uploaded</td>
        </tr>
        <tr>
          <td>2023-05-02</td>
          <td>file2.txt</td>
          <td>Uploaded</td>
        </tr>
        <tr>
          <td>2023-05-02</td>
          <td>file2.txt</td>
          <td>Uploaded</td>
        </tr>
        <!-- Add more rows here -->
      </tbody>
    </table>
  </div>
</div>